$BORDER_COLOR_DARK: #d9d9d950;

$TEXT_COLOR_DARK: #d9d9d995;
$BG_COLOR: #000000;
$BG_CARD_COLOR: rgb(20, 20, 20);

$BG_CL: #ffffff05;

%text_color {
    color: $TEXT_COLOR_DARK;
}
%border {
    border: 1px solid $BORDER_COLOR_DARK;
}
%bg_color {
    background-color: $BG_COLOR;
}
%bg_card_color {
    background-color: $BG_CARD_COLOR;
}
%all {
    @extend %border;
    @extend %bg_color;
    @extend %text_color;
}

.dark {
    @extend %bg_color;
    @extend %text_color;

    .ant-message-notice-content {
        @extend %all;
    }

    .ant-result {
        &-title,
        &-subtitle {
            @extend %text_color;
        }
    }

    .ant-input-group {
        transition: all 0.33s;
        .ant-select {
            &-arrow {
                transition: all 0.33s;
                filter: invert(1);
            }

            &-selector {
                transition: all 0.33s;
                @extend %all;
            }
        }
    }
    .ant-select-dropdown {
        @extend %all;
        transition: all 0.33s;

        div[aria-selected="true"] {
            transition: all 0.33s;
            background-color: $BG_CL;
            @extend %text_color;
        }
        div[aria-selected="false"] {
            transition: all 0.33s;
            @extend %text_color;
            @extend %bg_color;

            &:hover {
                background-color: $BG_CL;
            }
        }
    }

    .ant-pagination {
        &-item {
            @extend %all;

            a {
                @extend %text_color;
            }

            &:hover {
                border-color: #1890ff;
                a {
                    color: #1890ff;
                }
            }

            &-active {
                border-color: #1890ff;
                a {
                    color: #1890ff;
                }
            }
        }

        &-disabled {
            &:hover button {
                @extend %border;
                span {
                    color: #d9d9d925;
                }
            }

            span {
                color: #d9d9d925;
            }
        }

        &-prev,
        &-next {
            button {
                @extend %all;
            }

            span {
                @extend %text_color;
            }
            &:hover span {
                color: #1890ff;
            }
        }
    }

    .ant-input {
        @extend %all;

        &[disabled] {
            background: $BG_CARD_COLOR;
            cursor: not-allowed;

            &:hover,
            &:focus {
                @extend %text_color;
                border-color: $BORDER_COLOR_DARK;
            }
        }

        &::placeholder {
            @extend %text_color;
        }
        &:focus,
        &:hover {
            border-color: #1890ff;
        }

        &-affix-wrapper {
            @extend %all;

            &::placeholder {
                @extend %text_color;
            }
            &:focus,
            &:hover {
                border-color: #1890ff;
            }

            .ant-input-clear-icon:hover {
                color: #d9d9d94b;
            }

            span {
                @extend %text_color;
            }

            .search-group-box {
                &_liked {
                    @extend %text_color;
                    &:hover {
                        color: rgba(255, 0, 0, 0.9);
                    }
                }

                &_notliked {
                    @extend %text_color;
                    &:hover {
                        transition: all 0.33s;
                        color: #1890ff;
                    }
                }
            }

            &-disabled {
                background: $BG_CARD_COLOR;
                cursor: not-allowed;

                &:hover,
                &:focus {
                    @extend %text_color;
                    border-color: $BORDER_COLOR_DARK;
                }
            }
        }
    }

    .ant-tooltip {
        &-inner {
            background-color: $TEXT_COLOR_DARK;
            span {
                color: #000000;
            }
        }
        &-arrow {
            &-content {
                background-color: $TEXT_COLOR_DARK;
            }
        }
    }
    .ant-popover {
        &-inner {
            @extend %bg_card_color;
        }
        &-arrow {
            &-content {
                @extend %bg_card_color;
            }
        }
        &-message-title {
            @extend %text_color;
        }
        .ant-btn {
            transition: all 0.33s;
            @extend %text_color;
            @extend %border;
            background-color: transparent;
            &:hover {
                color: #1890ff;
                border-color: #1890ff;
            }

            &-primary {
                color: $BG_COLOR;
                background-color: $TEXT_COLOR_DARK;
                border: $TEXT_COLOR_DARK;

                &:hover {
                    color: $BG_COLOR;
                    background-color: #d9d9d9b0;
                    border: #d9d9d9b0;
                }
            }
        }
    }

    .navbar {
        @extend %bg_card_color;
        border-bottom: 1px solid rgba(20, 20, 20, 0.363);

        span {
            @extend %text_color;
        }

        .ant-btn {
            transition: all 0.33s;
            @extend %text_color;
            background-color: transparent;
            &:hover {
                background-color: rgba(46, 46, 46, 0.5);
            }

            &-ghost {
                transition: all 0.33s;
                span {
                    transition: all 0.33s;
                    color: $TEXT_COLOR_DARK;
                }
                @extend %border;
                &:hover {
                    span {
                        color: #1890ff;
                    }
                    border-color: #1890ff;
                }
            }
        }
    }

    .post {
        @extend %all;
        background-color: #ffffff05;
        h2 {
            @extend %text_color;
        }
        &_preview {
            @extend %all;
        }
        &_desc h3 {
            @extend %text_color;
        }
        &_container {
            h2 {
                @extend %text_color;
            }
        }
        &_likes {
            span,
            strong {
                @extend %text_color;
            }

            .ant-btn {
                transition: all 0.33s;

                background-color: transparent;
                &:hover {
                    background-color: rgba(46, 46, 46, 0.5);
                }
            }
            &-icon {
                span {
                    transition: all 0.33s;
                }
            }
            &-pressed {
                span {
                    transition: all 0.33s;
                    color: rgba(255, 0, 0, 0.9);
                }
            }
        }

        &_controls {
            button {
                transition: all 0.33s;
                @extend %text_color;
                @extend %border;
                background-color: transparent;
                &:hover,
                &:focus {
                    color: #1890ff;
                    border-color: #1890ff;
                }

                &[disabled] {
                    background: $BG_CARD_COLOR;
                    cursor: not-allowed;

                    &:hover,
                    &:focus {
                        @extend %text_color;
                        border-color: $BORDER_COLOR_DARK;
                    }
                }
            }
        }
    }

    .card {
        @extend %all;
        background-color: #ffffff05;

        &_controls-link span {
            @extend %text_color;
        }

        &_like span {
            @extend %text_color;
        }

        &:hover {
            box-shadow: 0 1px 2px -2px rgba(255, 255, 255, 0.16), 0 3px 6px 0 rgba(255, 255, 255, 0.12),
                0 5px 12px 4px rgba(255, 255, 255, 0.09);
        }
    }

    .form_image {
        @extend %all;
        .ant-empty {
            opacity: 0.45;
        }
    }
    .form_controls {
        button {
            transition: all 0.33s;
            @extend %text_color;
            @extend %border;
            background-color: transparent;

            &:hover {
                color: #1890ff;
                border-color: #1890ff;
            }
            &:focus {
                color: #1890ff;
                border-color: #1890ff;
            }

            &[disabled] {
                background-color: $BG_CARD_COLOR;
                cursor: not-allowed;

                &:hover {
                    @extend %text_color;
                    @extend %border;
                }
            }
        }
    }

    .comment {
        background: linear-gradient(#000000, $BG_CARD_COLOR);
    }

    .comment_form {
        .comment_btn {
            transition: all 0.33s;
            @extend %text_color;
            @extend %border;
            background-color: transparent;

            &:hover {
                color: #1890ff;
                border-color: #1890ff;
            }
            &:focus {
                color: #1890ff;
                border-color: #1890ff;
            }

            &[disabled] {
                background: $BG_CARD_COLOR;
                cursor: not-allowed;

                &:hover {
                    @extend %text_color;
                    @extend %border;
                }
            }
        }
    }

    .form_container,
    .sign_container {
        @extend %all;
        .ant-form-item-has-error
            :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper {
            @extend %bg_color;
            border-color: #ff4d4f;
            input {
                @extend %bg_color;
            }
        }

        span {
            @extend %text_color;
        }

        button {
            transition: all 0.33s;
            @extend %text_color;
            @extend %border;
            background-color: transparent;

            &:hover {
                color: #1890ff;
                border-color: #1890ff;
            }
            &:focus {
                color: #1890ff;
                border-color: #1890ff;
            }

            &[disabled] {
                background: $BG_CARD_COLOR;
                cursor: not-allowed;

                &:hover {
                    @extend %text_color;
                    @extend %border;
                }
            }
        }

        .ant-btn-primary {
            transition: all 0.33s;
            span {
                color: black;
            }
            background-color: #d9d9d950;
            border: 1px solid #d9d9d950;

            &:hover,
            &:focus {
                span {
                    color: black;
                }
                background-color: #d9d9d99d;
                border-color: #d9d9d99d;
            }

            &[disabled] {
                span {
                    @extend %text_color;
                }
                @extend %border;
                background: $BG_CARD_COLOR;

                cursor: not-allowed;

                &:hover {
                    span {
                        @extend %text_color;
                    }
                    @extend %text_color;
                    @extend %border;
                }
            }
        }

        .line {
            border-bottom: 1px solid $BORDER_COLOR_DARK;
        }
        .line:after {
            @extend %text_color;
            @extend %bg_color;
        }
    }
}
